.button-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  gap: 1.2rem;
  z-index: 9999;
}

.button--fixed {
  width: 5.6rem;
  height: 5.6rem;
  background-color: #424a4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.button--fixed:hover {
  background-color: #676d70;
}

.button__icon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: opacity 0.5s;
}

.button__image {
  width: 2.4rem;
  height: 2.4rem;
}

.button__icon--menu {
  opacity: 1;
}

.button__icon--close {
  opacity: 0;
}

.button--extra {
  width: 5.6rem;
  height: 5.6rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s ease, opacity 0.5s ease;
  opacity: 0;
}

.button--extra:hover {
  background-color: var(--blue-light);
  fill: #fff;
}

.button--extra-icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--gray-dark);
}

.button__tooltip {
  position: absolute;
  right: calc(100% + 1.4rem);
  background-color: #424a4d;
  color: white;
  font-size: 1.4rem;
  line-height: 1.7;
  padding: 0.8rem 1.2rem;
  border-radius: var(--radius-sm);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.button__tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.6rem;
  width: 0;
  height: 0;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent transparent transparent #424a4d;
  transform: translateY(-50%);
}

.button--extra:hover .button__tooltip {
  opacity: 1;
}
